body{
font-family: Arial;
background:#2f2f2f;
color:white;
margin:0;
}

.container{
width:90%;
max-width:1000px;
margin:auto;
margin-top:40px;
background:#3b3b3b;
padding:25px;
border-radius:8px;
}

h1{
text-align:center;
margin-bottom:20px;
}

.form{
display:flex;
flex-direction:column;
gap:10px;
margin-bottom:25px;
}

input{
padding:10px;
border:none;
border-radius:5px;
}

button{
padding:10px;
background:#2ecc71;
border:none;
color:white;
font-weight:bold;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#27ae60;
}

table{
width:100%;
border-collapse:collapse;
}

th, td{
padding:10px;
text-align:center;
border-bottom:1px solid #555;
}

th{
background:#1f1f1f;
}

.editar{
background:#3498db;
}

.excluir{
background:#e74c3c;
}

.acao{
padding:5px 10px;
margin:2px;
border:none;
color:white;
border-radius:4px;
cursor:pointer;
}


@media(max-width:700px){

table{
font-size:13px;
}

}